th {
    font-size: 10pt;
}

.th_sub {
    font-size: 8pt;
}

.form-group {
  font-size: 9pt;
}

.d3-tip {
  width: 200px;  
  line-height: 1;
  font-size: 8pt;
  padding: 12px;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  border-radius: 5px;
}

.d3-tip h5 {
  font-size: 10pt;
}


/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  content: "\25BC";
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  top: 100%;
  left: 55;
}

